<?xml version="1.0" encoding="UTF-8" ?>

    

    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        version     = "0.1.001" >

    <!-- versionCode is optional and Android only -->

    <name>LoveVA</name>

    <description>
        LoveVA Beta Test 
    </description>

    <author href="https://tomaszfoster.github.io" email="tomaszfoster@gmail.com">
        Tomasz Foster 
    </author>

    <gap:platform name="android" />
    <gap:plugin name="com.phonegap.plugins.barcodescanner"/>
    <gap:plugin name="org.apache.cordova.network-information" />

    <gap:plugin name="com.phonegap.plugins.facebookconnect"  version="0.4.0">
        <param name="APP_ID" value="315419268616460" />
        <param name="APP_NAME" value="786319b8e99a5cd3b325d9ce614f0b24" />
    </gap:plugin>

    <gap:plugin name="nl.x-services.plugins.socialsharing" />

</widget>